body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.shadow {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: -5px 0 15px 0 rgba(0, 0, 0, 0.2), 5px 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}




/*buttons*/
.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #81b3d2;
}

.button {
  background-color: #766357;
}

.button:focus,
.button:hover {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
}

.button-blue {
  color: #ffffff;
  background-color: #81b3d2;

}

.button-blue:focus,
.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
}

.button-hotel {
  box-sizing: border-box;
  font: inherit;
  font-weight: bold;
  height: 27px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 3px 15px;
  background-color: #82b3d3;
  color: #ffffff;
  border: none;
  margin: 0;
}

.button-abouthotel:hover,
.button-abouthotel:focus {
  background-color: #669ebf;
}

.button-abouthotel:active {
  background-color: #5596be;
  color: #94b9d3;
}

.button-book {
  min-width: 110px;
  background-color: #766357;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e44;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

/*buttons*/
/*header*/

.main-header {
  min-width: 1200px;
}

.main-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  color: #000000;
  background-color: #ffffff;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 530px;
  width: 140px;
  height: 72px;
}

.site-navigation {
  display: flex;
}

.main-navigation ul {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  padding-left: 72px;
  padding-right: 72px;
  font-size: 14px;
  line-height: 26px;
}

.site-navigation li {
  text-align: left;
  width: 239px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;

}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #8fb8d6;
}

.site-navigation a:active {
  color: #cacaca;
}

/*header*/
/*Main content*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.welcome {
  min-height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 75px;

  background-color: #81b3d2;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;

}

.welcome::before {
  content: "";


  position: absolute;
  background-image: url("../img/triangle.svg");
  width: 1200px;
  height: 57px;
  top: 507px;
}

.reasons-sedona {
  min-height: 215px;
  background-color: white;
  text-align: center;
  padding-top: 40px;
}

.reasons-sedona h2 {
  font-size: 21px;
  line-height: 26px;
}

.reasons-sedona p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  padding-top: 10px;
}

.nature {
  display: flex;
  min-height: 256px;
  justify-content: space-between;
  padding-top: 42px;
}

.nature-image {
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 256px;
}

.nature-image img {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;

  display: block;
  width: 100%;
  transform: translateY(-50%);
}

.nature-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;

  margin: 0px;
  color: #fff;
  background-color: #81b3d2;
}

.nature-title {
  width: 300px;
  font-size: 21px;
  font-weight: bold;
  line-height: 22px;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 10px;
}

.nature-symbol {
  font-size: 14px;
  margin: 0 auto;
  padding-top: 0px;
}

.nature-description {
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
}

.services {
  display: flex;

  margin: 0;
  padding-top: 59px;
  padding-right: 63px;
  padding-bottom: 35px;
  padding-left: 72px;

  background-color: #fff;


  justify-content: space-between;
}

.services-second {
  position: relative;
  padding-top: 46px;
  padding-bottom: 46px;

  background-color: #eee;
  z-index: 3;
}

.services-second .services-title {
  padding: 0 64px;
}

.services-title-second {
  position: relative;
  left: 6px;

  letter-spacing: .1px;
}

.services-second .services-symbol {
  font-size: 14px;
  line-height: 21px;

  margin-top: 15px;
  margin-bottom: 21px;

  color: #333;
}

.services-second .services-text {
  padding: 0 10px;
}

.servises-text-second {
  position: relative;
  left: 5px;

  letter-spacing: .1px;
}

.servises-text-third {
  padding: 0 4px;
}

.services-item {
  width: 286px;

  text-align: center;
  text-transform: uppercase;
}

.services-item:first-child {
  width: 255px;
}

.services-item:nth-child(2) {
  width: 293px;
}

.services-item:nth-child(3) {
  width: 276px;
}

.services-img {
  display: block;

  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.services-img:nth-child(2) {
  padding-left: 200px;
}

.services-title {
  font-size: 21px;
  line-height: 21px;

  margin-top: 0;
  margin-bottom: 0px;
  padding-bottom: 5px;
  color: #000;
}

.sevises-title-food {
  width: 40px;
  padding: 0 133px;
  ;
}

.services-text {
  font-size: 14px;
  line-height: 21px;

  margin-top: 0;
  margin-bottom: 0;

  color: #333;
}



/*Hotel form*/
.hotels-search-wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 260px;
  text-align: center;
  margin: 0 auto;

}

.hotels-search-title {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;

  color: #333333;
}

.hotels-search-title h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  padding-top: 20px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.search-form-button {
  width: 568px;
  height: 86px;
  background-color: #766357;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  border: none;
  margin-top: 34px;
  color: #ffffff;
}

.search-form-button:hover,
.search-form-button:focus {
  background-color: #604e44;
}

.search-form-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.modal {
  position: absolute;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
  box-shadow: -16px 7px 15px 0 rgba(0, 1, 1, 0.15);

  display: none;
}

.modal-hotels-search {
  top: 250;
  left: 50%;
  margin-left: -284px;
  box-sizing: border-box;
  width: 568px;
  height: 395px;
  padding-left: 55px;
  padding-right: 55px;

}

.modal-show {
  display: block;
  animation: bounce 0.6s;
  animation-duration: 0.4s;
}

.hotels-search {
  width: 458px;
  height: 395px;
  margin: 0 auto;
}

.form-wrapper {
  width: 458px;
  padding-top: 55px;
}

.date-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 458px;
  height: 38px;
  margin-bottom: 29px;
}

.date-item label {
  font: inherit;
  text-align: left;
}

.date-item input {
  box-sizing: border-box;
  position: relative;
  font: inherit;
  width: 346px;
  height: 38px;
  text-align: middle;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  margin: 0;
  padding-left: 10px;
  margin-left: auto;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.date-item input:hover {
  background-color: #ebebeb;
}

.date-item input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
  outline: none;
}

.calendar-button {
  position: absolute;
  top: 0;
  right: 9px;
  width: 21px;
  height: 38px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}


.calendar-button:hover svg,
.calendar-button:focus svg {
  fill: #000;
}

.calendar-button:active svg {
  fill: #81b3d2;
}

.visitors-count-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 54px;
}

.plusminus-wrapper {
  display: flex;
}

.visitors-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adults {
  width: 229px;
}

.childrens {
  width: 180px;
}

.visitors-count label {
  text-align: left;
}

.visitors-count input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  width: 37px;
  height: 36px;
  border: none;
  background-color: #f2f2f2;
}

.count-button {
  position: relative;
  width: 38px;
  height: 38px;
  font-size: 0;
  border: none;
  text-align: center;
  background-color: #f2f2f2;
  color: #a8a8a8;
  cursor: pointer;
}

.minus-button::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 17px;
  width: 12px;
  height: 3px;
  background-color: #a8a8a8;
}

.plus-button::before,
.plus-button::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 11px;
  height: 3px;
  background-color: #a8a8a8;
}

.plus-button::after {
  transform: rotate(90deg);
}

.minus-button:hover::before,
.minus-button:focus::before {
  background-color: #000000;
}

.minus-button:active::before {
  background-color: #80b2d3;
}

.plus-button:hover::before,
.plus-button:hover::after,
.plus-button:focus::before,
.plus-button:focus::after {
  background-color: #000000;
}

.plus-button:active::before,
.plus-button:active::after {
  background-color: #80b2d3;
}

.hotels-search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 100%;
  min-height: 58px;
  background-color: #81b3d2;
  border: none;
  margin-bottom: 55px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.hotels-search-button:hover,
.hotels-search-button:focus {
  background-color: #669ec0;
}

.hotels-search-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.mapofsedona {
  width: 100%;
  height: 593px;
  background-image: url("../img/map.jpg");
  background-color: #ffffe6;

}

/*Main content*/

/*Колонки списка отелей*/

.hotels-filter {
  background-image: url("../img/sedona-filter-background.jpg");
  background-size: 1200px 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #20B2AA;
  width: 100%;
  height: 217px;
  color: #ffffff;
}

.filter-range-form {
  box-sizing: border-box;
  padding-top: 27px;
  padding-left: 72px;
  padding-right: 73px;
}

.filter-contaner {
  display: flex;
  justify-content: space-between;
}

.checkboxes-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  min-width: 390px;
}

.checkboxes {
  text-align: left;
}

.checkboxes-wrapper p {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.checkboxes {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.choose-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.choose-checkbox:focus {
  outline: auto;
}

.choose-checkbox input[type="checkbox"]+.checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 4px;
}

.choose-checkbox input[type="checkbox"]:focus+.checkbox-indicator {
  outline: 5px auto -webkit-focus-ring-color;
}

.choose-checkbox input[type="checkbox"]:disabled+.checkbox-indicator {
  border: 2px solid #6a6a6a;
}

.choose-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  width: 12px;
  height: 4px;
  transform: rotate(45deg);
  background-color: #fff;
}

.choose-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 20px;
  height: 4px;
  transform: rotate(-45deg);
  background-color: #fff;
}

.choose-checkbox input[type="checkbox"]:checked:disabled+.checkbox-indicator::before,
.choose-checkbox input[type="checkbox"]:checked:disabled+.checkbox-indicator::after {
  background-color: rgba(106, 106, 106, 0.3);
}

.filter-range {
  font-weight: 400;
  width: 314px;
}

.filter-range-title {
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  box-sizing: border-box;
  height: 36px;
  width: 314px;
  margin-bottom: 21px;
  padding-top: 3px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
  margin: 0;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 63px;
  vertical-align: middle;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 52px;
  vertical-align: middle;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  box-sizing: border-box;
  display: block;
  height: 32px;
  width: 136px;
  margin-left: 81px;
  padding: 3px 33px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sorting-line {
  width: 1200px;
  height: 86px;
}

.sorting-wrapper {
  box-sizing: border-box;
  height: 86px;
  display: flex;
  align-items: center;
  padding-left: 72px;
  padding-right: 73px;
  margin: 0 auto;
}

.sorted-number {
  display: flex;
  align-items: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sorted-number span {
  margin-left: 5px;
}

.sorting-by-types {
  display: flex;
  align-items: center;
  vertical-align: middle;
  text-align: left;
  width: 700px;
  font-size: 12px;
  line-height: 18px;
  padding-top: 3px;
  font-weight: normal;
  margin-left: 49px;
}

.sorting-types {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  margin-left: 7px;
  padding: 0;
}

.sorting-types a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #81b3d2;
  text-align: left;
  margin-left: 33px;
}

.sorting-types a:hover {
  color: #81b3d2;
}

.sorting-types a:focus {
  color: #000;
  text-decoration: none;
}

.sorting-types a:active {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-types .active a {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-buttons {
  /*width: 40px;*/
  text-align: justify;
  margin-left: auto;
  cursor: pointer;
}

.sorting-btn {
  color: #cacaca;
}

.sorting-down {
  margin-left: 5px;
}

.sorting-btn:hover,
.sorting-btn:focus {
  color: #000000;
}

.sorting-btn:active {
  color: #81b3d2;
}

.sorting-buttons .active {
  color: #81b3d2;
}

.list-of-hotels {
  width: 1200px;
}

.hotel-contaner {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  min-height: 151px;
  padding-left: 72px;
  padding-right: 73px;

  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
}

.hotel-contaner:last-child {
  min-height: 152px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-block {
  min-width: 670px;
  min-height: 90px;
  display: flex;
}

.hotel-foto {
  height: 90px;
}

.hotel-info-wrapper {
  display: flex;
  flex-direction: column;

  width: 600px;
  height: 90px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-top: 0;
}

.name-of-the-hotel {
  text-align: left;
  font-size: 21px;

  font-weight: bold;
  color: #000000;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
}

.name-of-the-hotel a {
  padding: 0;
  margin: 0;
  vertical-align: top;
  height: 16px;
}

.name-of-the-hotel:hover,
.name-of-the-hotel:focus {
  color: #82b3d3;
}

.name-of-the-hotel:active {
  color: #cacaca;
}

.hotel-table-wrapper {
  min-width: 260px;
  display: flex;
}

.hotel-info {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-info p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 14px;
}

.hotel-booking {
  width: 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 6px;
}

.hotel-booking p {
  margin: 0;
  padding-top: 0;
  margin-bottom: 14px;
}

.hotel-rating-contaner {
  width: 110px;
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

}

.hotel-star ul {
  display: flex;
  margin: 0;
  list-style: none;
}

.hotel-star li {
  margin-left: 5px;
}

.rating {
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  padding: 2px 7px;
  margin: 0;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #666666;
}

/*footer*/

.footer-transparent {
  margin: -120px auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.main-footer .container {
  height: 120px;
  display: flex;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
  min-height: 125px;
  opacity: 0.9;

}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}


.footer-social {
  width: 400px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding-top: 20px;
  padding-left: 0;
  list-style: none;
}

.footer-item {
  margin: 3px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:hover path,
.social-button:focus path {
  fill: white;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.footer-copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.footer-copyright a {
  display: flex;
  padding-left: 8px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  position: absolute;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
  box-shadow: -16px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal-hotels-search {
  top: 250;
  left: 50%;
  margin-left: -284px;
  box-sizing: border-box;
  width: 568px;
  height: 395px;
  padding-left: 55px;
  padding-right: 55px;
}

/*footer*/

/*Animation*/
@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  30% {
    opacity: 0.3;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  70% {
    opacity: 0.7;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


