body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;

}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.welcome {
  background-color: #81b3d2;
  background-image: url("../img/bg.jpg");
  height: 510px;
  background-position: center;
  background-repeat: no-repeat;

}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #81b3d2;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: transparent;
}

.main-header {
  margin-bottom: 75px;
}

.main-header-logo {
  order: ;
  width: 140px;
  height: 72px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: black;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #b2b2b2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.description-bg {

  width: 100%;
  background-color: white;
  text-align: center;
}

.welcome h2 {
  font-size: 21px;
  line-height: 26px;

}

.welcome p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;

}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;

}

.hotel-search p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

}

.button {
  background-color: #766357;
}

.button:focus,
.button:hover {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
}

.button-blue {
  color: #ffffff;
  background-color: #81b3d2;

}

.button-blue:focus,
.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
}

.hotel-search input {
  font: inherit;
  font-weight: 700;

  background-color: #f2f2f2;
  border: none;

}

.hotel-search input:hover {
  background-color: #ebebeb;
  border: none;

}

.hotel-search input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.hotel-finder p {
  font-weight: 700;
}


.hotels {
  width: 1200px;

}
 
.hotel-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  list-style: none;

}

.hotel-item {
  width: 100%;
  box-sizing: border-box;

  display: flex;

 
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 70px;
  background-color: white;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item img {
  width: 135px;
  height: 95px;
}

 
.box-rate {
  margin-top: 30px;
  margin-left: auto;
  text-align: center;
}

.hotel-description h3 {
  margin: 0px;
}

.hotel-description p {
  font-size: 14px;
  line-height: 21px;
  margin: 0px;
  font-weight: 400;
}

.hotels-list li {
  list-style: none;
}

.box-rate-item {
  list-style: none;
}





.main-footer .container {
  display: flex;
}

.main-footer  {
  background-color: white;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}


.footer-social {
  width: 400px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px; 
  padding-left: 0; 
  list-style: none;
}

.footer-item {
  padding: 5px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:hover path,
.social-button:focus path {
  fill: white;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path{
  fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;

}

.footer-copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}



