body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  background-image: url("../img/#");
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #81b3d2;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;

  background-color: white;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: black;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #b2b2b2;
}

.welcome h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;

}

.welcome p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
}

.hotel-search p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.button {
  background-color: #766357;
}

.button:focus,
.button:hover {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
}

.button-2 {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-2:focus,
.button-2:hover {
  background-color: #669ec0;
}

.button-2:active {
  background-color: #5496bd;
}

.hotel-search input {
  font: inherit;
  font-weight: 700;

  background-color: #f2f2f2;
  border: none;

}

.hotel-search input:hover {
  background-color: #ebebeb;
  border: none;

}

.hotel-search input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.hotel-finder p {
  font-weight: 700;
}

.hotels-list p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.box-rate,
img ul {
  list-style: none;
}

.footer-social,
ul {
  list-style: none;
}

.social-button {
   
  background-color: #81b3d2; 
}